.MMM-PublicTransit .container {
  color: rgb(26, 59, 247);
  display: flex;
  flex-direction: column;
  font-size: 12;
}
.MMM-PublicTransit .bustimes_container  {
  flex-grow: 1;
}

.MMM-PublicTransit .inactive {
  color: #ff0000;
}

.MMM-PublicTransit .route_info {
  margin: 0;
  color: white; 
  display: flex;
  justify-content: space-between;
}

.MMM-PublicTransit .header_info {
  margin: 0;
  color: yellow; 
  display: flex;
  justify-content: space-between;
}

.MMM-PublicTransit .route_name {
  text-align: left;
}

.MMM-PublicTransit .departure_time {
  text-align: right;
  color: green;
}

.MMM-PublicTransit .transit_logo {
  display: flex;
  margin-top: 5px;
  justify-content: flex-end;
  height: 40px;
  object-fit: contain;
}
